<!--The route, controller, action, and view are now working harmoniously-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <div class = "has-text-centered">
            <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Hello Researchers!
                        </h1>
                    </div>
                </div>
            </section>
            <div class="container">
                </br><p> View Code or Submit Code. </p></br>
                
                <button class="button is-info is-outlined">
                    <%= link_to "Article Listing", articles_path %>
                </button>
                
                <button class="button is-info is-outlined">
                    <%= link_to "New Article", new_article_path %>
                </button>
            </div>
        </div>
    </body>
</html>